body {
    margin: 0;
    background-color: #212121;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

canvas {
    box-sizing: border-box;
    width: 95vmin;
    height: 95vmin;
    border: 2vmin solid #2962FF;
}